<%= form_for @page do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :chapter_id %><br />
    <%= f.text_field :chapter_id %>
  </p>
  <p>
    <%= f.label :lang_id %><br />
    <%= f.text_field :lang_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
