<% title "Book" %>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>
<p>
  <strong>User:</strong>
  <%= @book.user_id %>
</p>

  <strong>Chapters:</strong>

  <%= render :template => 'chapters/index' %>

<p>
  <%= link_to "Edit", edit_book_path(@book) %> |
  <%= link_to "Destroy", @book, :confirm => 'Are you sure?', :method => :delete %> |
  <%= link_to "View All", books_path(:user_id => @book.user_id) %>
</p>
