<h1>Listing compares</h1>

<table>
  <tr>
    <th>Chapter</th>
    <th>Page number relative</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @compares.each do |compare| %>
  <tr>
    <td><%= compare.chapter_id %></td>
    <td><%= compare.page_number_relative %></td>
    <td><%= link_to 'Show', compare %></td>
    <td><%= link_to 'Edit', edit_compare_path(compare) %></td>
    <td><%= link_to 'Destroy', compare, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


<p><%= link_to "New Compare", new_compare_path(:chapter_id => @chapter.id) %></p>
