<%= form_for @chapter do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :number %><br />
    <%= f.text_field :number %>
  </p>
  <p>
    <%= f.label :book_id %><br />
    <%= f.text_field :book_id %>
  </p>
  <p><%= f.submit %></p>
<% end %>
